[submodule "backend"]
	path = backend
	url = https://github.com/starkoora/wanted-pre-onboarding-challenge-fe-1-api
[submodule "frontend"]
	path = frontend
	url = https://github.com/Leewonchan14/FSD_REACT
